div {font-family: 'Jura', sans-serif;  color: white;}
body {background-color: black; min-height: 90vh;}
#phoenix {position: absolute; left: 50%; margin-left: -150px; margin-top: 25px; z-index: 0;}
#title {font-size: 120px; left: 50%; position: absolute; margin-left: -225px; top: 350px;}
#content {font-size: 24px; left: 50%; position: absolute; margin-left: -400px; top: 350px; width: 800px; border: 2px solid gray; border-radius: 3px; padding: 15px; background-color: black;}
#content div {min-height: 15px;}
.price-line {display: flex; flex-direction: row; justify-content: space-between;}
#menu {font-size: 36px; text-decoration: none; position: fixed; top: 15px; left: 15px; background-color: black; z-index: 1;}
#menu a {color: white; text-decoration: none; margin: auto; display: block; width: 150px;} 
#contact {font-size: 36px; position: absolute; bottom: 10px; left: 50%; margin-left: -135px;}
.underline {text-decoration: underline;}